<html>
<head>
<title>
Donkey V3 Web API Documentation
</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class='container'>
<h1>Donkey Web API Documentation</h1>
<p>This API is for listing, testing, creating, saving and executing queries from the Query Library. Docs on how to build queries can be found <a href='/v3/docs/query'>here</a></p>
<hr>
<h2>Response Structure</h2>
<p>All responses from this API are in JSON. To better view the responses in a browser, download a JSON viewing extension such as <a href="http://jsonview.com">JSONView</a> for Firefox or <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc?utm_source=chrome-app-launcher-info-dialog">JSONView</a> for Chrome</p>
All responses follow a standard pattern. The outermost object looks like this:
<pre>
{
	'success':True,
	'response':{...}
}
</pre>
If 'success' has the value False, something has gone wrong, and 'response' will contain some kind of error message. Otherwise, 'response' contains the result of whatever thing you've called.
<hr>
<h2>Errors</h2>
Every effort is being made to ensure error response are both helpful and normalised. If you don't know what an error means or how to fix it, open an issue on the Donkey <a href="https://github.com/gregroberts/Donkey">Github repository</a>, quoting both the request made, and the full response received, and I will try and address it.
<hr>
<h2>Methods</h2>
Describing the function, parameters, response format & error handling for each route in the API. Titles go '/route (accepted HTTP methods)'



<h3>/v3/get_query/&lt;name&gt;/ (GET)</h3>
<b>Required parameters</b> - None
<br>
<p>
Returns the full details of the query &lt;name&gt;
</p>
<p>If &lt;name&gt; cannot be found, will return an error message</p>
<p><b>Example Successful request:</b> <a href="/v3/get_query/test/">/v3/get_query/test/</a></p>



<h3>/v3/execute_query/&lt;name&gt;/ (GET)</h3>
<b>Required parameters</b> - Whatever are the parameters required for query &lt;name&gt; 
<br>
<p>Fetches the query, inserts your parameters, executes the query, returns the results; nice and simple</p>
<p>If &lt;name&gt; not found, returns error. If the supplied parameters don't fully match the required parameters for the query, returns an error</p>
<p>If query fails, returns an error along with the exception traceback</p>
<p><b>Example Successful request:</b> <a href="/v3/execute_query/test?url=http://example.com">/v3/execute_query/test?url=http://example.com</a></p>


<h3>/v3/list/ (GET)</h3>
Doesn't require any parameters, just returns a list of all the queries in the library.<br>
<b>Try it out:</b> <a href="/v3/list/">/v3/list/</a>



<h3>/v3/search/&lt;value&gt;/ (GET)</h3>
<p>Searches the query library for any queries whose name contains the substring &lt;val&gt;</p>
Pretty self explanatory really. Returns all the details of the saved query in the following format:
<pre>
{
	'name': ...,
	'description': ...,
	'required parameters': [...],
	'query':  {...},
	'saved at': '0000-00-00 00:00:00'
}
</pre>
<p><b>Example Successful request: </b><a href="/v3/search/test">/v3/search/test</a></p>



<h3>/v3/test_query/ (POST)</h3>
So you're writing a new query, and you want to use the web API to see if it is returning what you want it to return.

<p>Using whatever is your favoured method for making POST requests, POST the query as a json object (remembering to pass a Content-Type header where neccesary!) to this route, and you'll get a response</p>
<b>Example Using cURL:</b>
<pre>
	$ curl -H "Content-Type: application/json" -X POST -d '{"request":{"url":"http://example.com"},"handle":{"title":"//title//text()"}}' http://&lt;donkey url&gt;/v3/test_query/
</pre>
<b>Example Using python requests</b>
<pre>	
>>> import requests
...  query = {
...     'request':{
...         'url':'http://example.com'
...     },
...     'handle':{
... 		'title':'//title//text()'
...     }
...  }
... 
...  req = requests.post('http://&lt;donkey url&gt;/v3/test_query/',
...                     json =query)
...  req.json()
166: {u'response': {u'query': {u'handle': {u'title': u'//title//text()'},
                          u'request': {u'url': u'http://example.com'}
                         },
               u'response': {u'title': [u'Example Domain']}
               	},
       u'success': True}
</pre>




<h3>/v3/save_query/ (POST)</h3>
Your query is written and ready to be saved to the library. You have generalised it with a bunch of {{parameters}}, and given it a catchy name. Same method as above,  POST an object to this route of the following form:
<pre>
	{
		"name": "A descriptive, concise name for the query",
		"description": "A longer description of what the query is to be used for and any other relevant information",
		"required"parameters': [a list of all the {{parameters}} you need to use to execute the query],
		"query":  {The full query object itself},
	}
</pre>
If one of these parameters isn't present, or isn't the right type, you will get a message. Otherwise, hopefully, it will save to the Query Library.
<hr>

</div>
</body>
</html>