<html>
<head>
	<title>
	Donkey Collectors List
	</title>
	<script src="{{prefix}}/static/jquery-2.1.4.min.js"></script>
	<script src="{{prefix}}/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	<link href="{{prefix}}/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class='container'>
	<h1>Donkey Collectors</h1>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<caption>All Collectors defined and running on the server</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Queue Name</th>
						<th>Frequency (Days)</th>
						<th>Input Type</th>
						<th>Input</th>
						<th>Query Qrchetype</th>
						<th>Date Last Scheduled</th>
						<th>In Progress</th>
						<th>Reschedule Now</th>
						<th>View Logs</th>
					</tr>
				</thead>
				<tbody>
					{% for x in collectors %}
						<tr>
							<th scope="row">{{x.CollectorName}}</th>
							<td>{{x.CollectorDescription}}</td>
							<td>{{x.QueueName}}</td>
							<td>{{x.Frequency}}</td>
							<td>{{x.InputSource}}</td>
							<td>
								<a class="btn"
									role = "button" 
									data-toggle="collapse"
									href="#"
									aria-expanded="false"
									data-target="#colI{{x.CollectorName}}"
									aria-controls="colI{{x.CollectorName}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
								<div class="collapse" id="colI{{x.CollectorName}}">
									<div class="well">
										<pre class="input">{{x.Input}}</pre>
									</div>
								</div>
							</td>
							<td>
								<a class="btn"
									role = "button" 
									data-toggle="collapse" 
									href="#" 
									aria-expanded="false" 
									data-target="#colA{{x.CollectorName}}"
									aria-controls="colA{{x.CollectorName}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
								<div class="collapse" id = "colA{{x.CollectorName}}">
									<div class="well">
										<pre class="arch">{{x.Archetype}}</pre>
									</div>
								</div>
							</td>
							<td>{{x.LastScheduled}}</td>
							<td class="prog">
								{% if x.InProgress==0 %}
									<span class="glyphicon glyphicon-unchecked"></span>
								{% elif x.InProgress==1 %}
									<span class="glyphicon glyphicon-expand"></span>
								{% endif %}
							</td>
							<td>
								{% if x.InProgress==0 %}
									<button class="btn btn-default" type="button" thing="{{x.CollectorName}}" do="x" ><span class="glyphicon glyphicon-repeat"></span></button>							
								{% endif %}
								
							</td>
							<td>
								<a href="{{prefix}}/v3/collector_log/{{x.CollectorName}}"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
							</td>
						</tr>

					{% endfor %}					
				</tbody>
			</table>
		</div>
	</div>	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		function syntaxHighlight(json) {
		    if (typeof json != 'string') {
		      		json = JSON.stringify(json, undefined, 2);

		    }
		    else {
			    	try {
					json = JSON.parse(json);
			    	}
			    	catch (e){
			    		console.log(e);
			    		return json;
			    	};
		    	    	json = JSON.stringify(json, undefined, 2);
		    }
		    return json;
		};
		$('tbody tr').each(function(){
			src = $(this).find('td:nth-child(5)')[0].textContent;
			if (src =='json') {
				var contents = $(this).find('pre.input').html();
				$(this).find('pre.input').empty().append(syntaxHighlight(contents));	
			};
			var contents = $(this).find('pre.arch').html();
			$(this).find('pre.arch').empty().append(syntaxHighlight(contents));	
		});

	$("button[do='x']").on('click',function(){
		var name = [$(this).attr('thing')];
		$.ajax({
				type:"POST",
				async:true,
				contentType:"application/json; charset=utf-8",
				url:"{{prefix}}/v3/run_collectors/",
				data: JSON.stringify(name),
				success: function(data) {
					location.reload();
				},
				dataType:"json"
			});	
	})
	})

</script>
</script>
</body>



</html>
