<html>
<head>
<title>
Donkey V3 Collectors Documentation
</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class='container'>
<h1>Collectors</h1>
<p>
	Collectors are thhings which define a set of data we would like to collect regularly, and keep in a database somewhere. The collections we want to carry out are held in a database table. A collection is defined as a row in this table, with the following properties:
</p>
<ul>
	<li>CollectorName - A recognisable name for the collector</li>
	<li>QueueName - Which Redis queue you would like the Collection to be added to</li>
	<li>Frequency - How frequently (in days) you would like the collection to be carried out</li>
	<li>InputSource - How to parse the input into a set of rows</li>
	<li>Input - Instructions on what data the collection takes as input</li>
	<li>Archetype - A template of the Donkey Query used to fill the collection</li>
</ul>
The other two columns in this table are 'LastScheduled', which is filled in automatically, and used to work out when a collection needs running, and 'InProgress' which denotes whether a collection is currently being run.

To illustrate how to define a collection, let's use an example and walk through defining all the columns:

<h3>CollectorName</h3>
This is easy, we'll call it TestCollection
<h3>QueueName</h3>
for testing purposes, we'll just put it on a queue named test_queue.




<img src="/static/Collector_Flow.png">
</div>
</body>
</html>