<!DOCTYPE html>
<html>
<head>
	<title>Single Collection</title>
	
	<script src="{{prefix}}/static/jquery-2.1.4.min.js"></script>
	<script src="{{prefix}}/static/jsoneditor.js"></script>
	<link href="{{prefix}}/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="{{prefix}}/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{prefix}}/static/DataTables/datatables.min.css"/>
	<script type="text/javascript" src="{{prefix}}/static/DataTables/datatables.min.js"></script>

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Donkey Collection</h1><a href="{{prefix}}/v3/dashboard">Goto RQ Dashboard</a>
			<p>Here you can define a one off collection, this allows you to get data from lots of pages, and normalise it into json or a table.
			This is also a good place to test this functionality before setting up a regular database collection.</p>			
		</div>
		<div class="col-md-6">
					<button id ="test_collection" class="btn btn-primary">Test Collection</button>
					<button class="btn btn-warning" id="run_collection">Run Collection</button>
					<button class="btn btn-warning" data-toggle="modal"  data-target="#saveModal">Set up Recurring Collection</button>
			<form id="newCollection">
				<div class="form-group">
					<label for="archetype">Query Input</label>
					<textarea class="form-control"
							type="archetype"
							rows="5"
							placeholder="Place the data which will be used to hydrate your query"
							id="mapInput"></textarea>
				</div>
				<div class="form-group">
					<label for="archetype">Input Type</label>
					<select class="form-control" id="colInput">
						<option value="json">JSON</option>
						<option value="sql">SQL</option>
					</select>
				</div>	
				<div class="form-group">
					<label for="archetype">Mapping Base</label>
					<input type="archetype" placeholder="This is the base against which the mapping will be applied" id="mapBase">
				</div>	
				<div  id="mapping">
				</div>				
				<div class="form-group">
					<label for="archetype">Query Archetype</label>
					<div id="archetype"></div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<div id="results">
				<h3>Collection Result <span id="successInd"></span></h3><div id="loading">Tis Loadin'</div>
				<ul class="nav nav-tabs" role="tablist" id="TAB">
					<li role="presentation" class="active"><a data-toggle="tab" href="#resTable" role="tab">Table</a></li>
					<li role="presentation"><a data-toggle="tab" href="#resJson" role="tab">Json</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="resTable">
						<table id="resDataTable"></table>
					</div>
					<div role="tabpanel" class="tab-pane" id="resJson">
						<pre id="resHolder">
The result of your collection will show up here.
						</pre>	
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

<!--Save query Modal-->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Start a new recurring Collection</h4>
      </div>
      <div class="modal-body">
      		<p>
      			Before Continuing, make sure the collection is behaving as expected. Once saved, your collection will be added to the list of active collectors
      		</p>
      		<p>
      			Jobs are scheduled on a daily basis, so you collection will be run within the next few days.
      		</p>
      		<hr>
      		<form id="saveForm">
      			<div class="form-group">
	      			<label for="q_name"><b>Collector Name</b> - An identifier, which clearly denotes what the collector is. NOTE, Collector names cannot include dashes ("-")</label>
	      			<input type="name" class="form-control" id="c_name" placeholder="Collector Name">
      			</div>
      			<div class="form-group">
      				<label for="q_description"><b>Collector Description</b> - A short description of the purpose of the collector</label>
      				<input type="description" class="form-control" id="c_description" placeholder="Collector Description">
      			</div>
      			<div class="form-group">
      				<label for="c_frequency"><b>Collector Frequency</b> - How frequently (In <b>days</b> the collector should re run</label>
      				<input type="parameters" class="form-control" id="c_freq" placeholder="e.g. 7, 30, 999999">
      			</div>
      			<div class="form-group">
      				<label for="c_table"><b>Table Name</b> - The database table to put the data into. If it doesn't exist, it will be created with the variables defined in the collector mapping</label>
      				<input type="parameters" class="form-control" id="c_table">
      			</div>
      			<div class="form-group">
      				<label for="c_queue"><b>Queue Name</b> - The Queue to put the collection jobs into. Each queue has a different speed, so be wary if you are hitting an external data source that might get annoyed and ban us :(</label>
  				<select class="form-control">
					<option value="high">High - Executes jobs as quickly as possible</option>
					<option value="medium">Medium - Executes jobs with a 2s interval</option>
					<option value="low">Low - Executes jobs with a 5s interval (cautious)</option>
				</select>
      			</div>


      		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveCollection">Save Collection</button>
      </div>
    </div>
  </div>	
</div>



<script type="text/javascript">
	$(document).ready(function() {
		//initialise tabs on RH panel
		$('.nav-tabs a').click(function (e) {
		  e.preventDefault()
		  $(this).tab('show')
		})
		//set up loading flow
		$('#loading').hide();
		jQuery.ajaxSetup({
			beforeSend: function() {
				$('#loading').show();
		  	},
			complete: function(){
				$('#loading').hide();
		  	}
		});
		//initialise mapping schema 
		var schema ={ 
				disable_collapse:true,
				disable_edit_json:true,
				theme:'bootstrap3',
				schema:{
					type:"object",
					title:"Mapping"
				}
			};
		var mappingEditor = new JSONEditor(document.getElementById('mapping'), schema);

		//initialise collection query object
		var schema ={ 
			disable_collapse:true,
			disable_edit_json:true,
			theme:'bootstrap3',
			schema:{
				type:"object",
				title:"query",
				properties:{
					request:{
						type:"object",
						properties:{
							"@grabber":{
								type:"string",
								enum:[
								{% for grabber in grabbers %}
								"{{grabber}}",
								{% endfor %}
								],
								default:"request",
							},
							"@freshness":{
								type:"integer",
								default:30,
							},
							url:{
								type:"string",
								default:"http://example.com"
							}
						},
					required_by_default: true},					
					handle:{
						type:"object",
						properties:{
							"@handler":{
								type:"string",
								enum:[
								{% for handle in handlers %}
								"{{handle}}",
								{% endfor %}
								],
								default:"XPATH"
							},
							title:{
								type:"string",
								default:"//title//text()"
							}
						}
					}
				},
			}
		};
		var queryEditor = new JSONEditor(document.getElementById('archetype'), schema);

		//if this page has been called with an existing query (loaded from template) then insert this into the query schema instead
		existing = {{query|tojson}};
		if (! $.isEmptyObject(existing)){
			queryEditor.setValue(existing.query);
		};

		//for prettyprinting json responses
		function syntaxHighlight(json) {
			if (typeof json != 'string') {
				 json = JSON.stringify(json, undefined, 2);
			};
			json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
			return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
				var cls = 'number';
				if (/^"/.test(match)) {
					if (/:$/.test(match)) {
						cls = 'key';
					} else {
						cls = 'string';
					}
				} else if (/true|false/.test(match)) {
					cls = 'boolean';
				} else if (/null/.test(match)) {
					cls = 'null';
				}
				return '<span class="' + cls + '">' + match + '</span>';
			});
		};

		//initialise an initial empty table because DataTables was written by arseholes

		//for filling the results table
		function insertRes(val, success){
			//get & insert the pretty json
			prettyRes = syntaxHighlight(val, null, 2);
			$('#resHolder').empty().html(prettyRes);

			//build an array
			var cols = [],vals = [];
			for (property in val[0]){
				cols.push({title:property})
			};
			$.each(val, function(index,Rvalue){
				r = [];
				$.each(cols, function(index, Cvalue){
					r.push(Rvalue[Cvalue.title]);
				});
				vals.push(r);
			});		

			//debuggin
			console.log(vals);
			console.log(cols);
			console.log(val);

			//destroy a table, make a table
			if (typeof table !== 'undefined') {table.destroy();};
			
			table = $('#resDataTable').empty().DataTable({
				data:vals,
				columns:cols,
				//at least they don't enfore hungarian notation anymore
			});

			//flag succesness
			if (success==true) {
				note='Success!';
				colour='green';
			} else {
				note='Fail!';
				colour='red'
			};			
			$('#successInd').empty().html(note).css('color',colour);


		}
		function collect(limit){
			//this chap does the collectin'
			var form = $('#newCollection')[0];
			var query = {
				input:form[0].value,
				inputsource:form[1].value,
				archetype:queryEditor.getValue(),
				mapping:mappingEditor.getValue(),
				map_base:form[2].value,
				limit:limit
			};
			//get & insert the data
			$.ajax({
				type:"POST",
				async:true,
				contentType:"application/json; charset=utf-8",
				url:"{{prefix}}/v3/collection/",
				data: JSON.stringify(query),
				success: function(data) {
					insertRes(data.response, data.success);
				},
				dataType:"json"
			});		
		}

		//buttons
		$('#test_collection').on('click', function() {
			collect(1);
		});
		$('#run_collection').on('click', function() {
			collect(0);
		});		

		$('#saveCollection').on('click', function() {
			function isPositiveInteger(n) {
			    return n >>> 0 === parseFloat(n);
			}
			var form = $("#saveForm")[0];
			var name = form[0].value;
			if (name == "") {
				alert("You must enter a Name");
				return false;
			}
			var desc = form[1].value;
			if (desc == "") {
				alert("You must enter a Description");
				return false;
			}
			var freq = form[2].value;
			if (! isPositiveInteger(freq)){
				alert("Frequency must be an integer");
				return false;
			}
			var table = form[3].value;
			if (table == ""){
				alert("You must enter a Table Name");
				return false;
			}
			var queue = form[4].value;
			var query_args = queryEditor.getValue();
			var map_input = mappingEditor.getValue();
			var map_base = $('#mapBase').text();
			var _input = $('#mapInput').val();
			var inputType = $('#colInput').val();
			var archetype = {
				query: query_args,
				putter: {
					base:map_base,
					table_name:table,
					mapping:map_input
				}
			}
			var req = {
				CollectorName: name,
				QueueName: queue,
				Frequency: freq,
				InputSource:inputType,
				Input: _input,
				Archetype: archetype,
				CollectorDescription: desc
			};
			console.log(req);
			//save the collector
			$.ajax({
				type:"POST",
				async:false,
				contentType:"application/json; charset=utf-8",
				url:"{{prefix}}/v3/setup_collector/",
				data: JSON.stringify(req),
				success: function(data) {
					console.log(data);
				},
				dataType:"json"
			});		
		});

	});
</script>
</body>
</html>