<html>
<head>
<title>
Donkey 
</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Donkey Portal</h1>
This is where you will find documentation for Donkey and the Donkey web api.

<h2>Donkey Documentation</h2>
<ul>
	<li><a href="/v3/docs/api">API Documentation</a>- information about the various routes available on the Donkey server </li>
	<li><a href="/v3/docs/query">Query Documentation</a>- information about biulding queries, with links to other query documentation:
	<ul>
		<li><a href="/v3/docs/grabber">Grabber Documentation</a>- information about the different ways you can request resources from different services</li>
		<li><a href="/v3/docs/handler">Handler Documentation</a>- information abut the different ways you can parse different documents</li>
		<li><a href="/v3/docs/subquery">Subquery Documentation</a>- information about using subqueries to imporse more structure on returned data</li>
	</ul>
	</li>
</ul>
</div>
</body>
</html>
