<html>
<head>
	<title>
	Donkey Queries
	</title>
	<script src="{{prefix}}/static/jquery-2.1.4.min.js"></script>
	<script src="{{prefix}}/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	<link href="{{prefix}}/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class='container'>
	<h1>Donkey Queries</h1>
	{{n}} results
	<hr>
	<div class="row">
		<div class="col-md-12">
			{% for query in results %}
				<div class="row">
					<div class="col-md-12">
						<h2>{{query.name}}</h2>
						<b>Description: </b>{{query.description}}<br>
						<b>Saved At:</b> {{query['saved at']}}<br>
						<b>Required Parameters: </b>{% for param in query['required parameters'] %} {{param}},{% endfor %}<br>
						<b>Query Details:</b><pre>{{query.query}}</pre>
						<a class="btn btn-primary" href="{{prefix}}/v3/edit/{{query.name}}" role="button">Edit this query</a>
					</div>
					<hr>
				</div>
			{%endfor%}
		</div>
	</div>
</div> 