<!DOCTYPE html>
<html>
<head>
	<title>Donkey Query Editor</title>
	<script src="/static/jsoneditor.js"></script>
	<script src="/static/jquery-2.1.4.min.js"></script>
	<script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	<link href="/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
	
</head>
<body>

<div class="container">
	<div class="row">
		<h1>Let's construct a Donkey Query!</h1>
		<div class="col-md-12" id="existingQuery">
		</div>
		<div class="col-md-6">
			<div id="editor"></div>	
			<button id ="test_query" class="btn btn-primary">Test Query</button>
			<button class="btn btn-warning" data-toggle="modal" data-target="#saveModal">Save Query</button>
		</div>
		<div class="col-md-6">
			<div id="results">
				<h3>Query Result    <span id="successInd"></span></h3>
				
				<pre id="resHolder">
The result of your query will show up here.
				</pre>
			</div>	
		</div>
	</div>
	
</div>
<!--Save query Modal-->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Save a New Query</h4>
      </div>
      <div class="modal-body">
      		<p>
      			Before Continuing, make sure you have inserted all the parameters you want into your query, and that it is behaving as expected!
      		</p>
      		<hr>
      		<pre id="query_preview"></pre>
      		<hr>
      		<p>
      			If everything is correct, fill in the form and save the query
      		</p>
      		<form id="saveForm">
      			<div class="form-group">
	      			<label for="q_name">Query Name</label>
	      			<input type="name" class="form-control" id="q_name" placeholder="Query Name">
      			</div>
      			<div class="form-group">
      				<label for="q_description">Query Description</label>
      				<input type="description" class="form-control" id="q_description" placeholder="Query Description">
      			</div>
      			<div class="form-group">
      				<label for="q_parameters">Query Parameters</label>
      				<input type="parameters" class="form-control" id="q_parameters" placeholder="Comma-seperated list of parameters e.g. url,isbn,etc...">
      			</div>      			
      		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveQuery">Save Query</button>
      </div>
    </div>
  </div>	
</div>

<script type="text/javascript">
	$(document).ready(function(){
		function syntaxHighlight(json) {
		    if (typeof json != 'string') {
		         json = JSON.stringify(json, undefined, 2);
		    }
		    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
		    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
		        var cls = 'number';
		        if (/^"/.test(match)) {
		            if (/:$/.test(match)) {
		                cls = 'key';
		            } else {
		                cls = 'string';
		            }
		        } else if (/true|false/.test(match)) {
		            cls = 'boolean';
		        } else if (/null/.test(match)) {
		            cls = 'null';
		        }
		        return '<span class="' + cls + '">' + match + '</span>';
		    });
		};
		function insertRes(val, success){
			//inserts something into th result holder
	  		prettyRes = syntaxHighlight(val, null, 2);
	  		$('#resHolder').empty().html(prettyRes);
	  		if (success==true) {
	  			note='Success!';
	  			colour='green';
	  		} else {
	  			note='Fail!';
	  			colour='red'
	  		};
	  		$('#successInd').empty().html(note).css('color',colour);

		}

		var schema ={ 
			disable_collapse:true,
			disable_edit_json:true,
			theme:'bootstrap3',
			schema:{
				type:"object",
				title:"query",
				properties:{
					request:{
						type:"object",
						properties:{
							"@grabber":{
								type:"string",
								enum:[
								{% for grabber in grabbers %}
								"{{grabber}}",
								{% endfor %}
								],
								default:"request",
							},
							"@freshness":{
								type:"integer",
								default:30,
							},
							url:{
								type:"string",
								default:"http://example.com"
							}

						},
					required_by_default: true
					},					
					handle:{
						type:"object",
						properties:{
							"@handler":{
								type:"string",
								enum:[
								{% for handle in handlers %}
								"{{handle}}",
								{% endfor %}
								],
								default:"XPATH"
							},
							title:{
								type:"string",
								default:"//title//text()"
							}
						}
					}

		
				}
			}
		};
		var editor = new JSONEditor(document.getElementById('editor'), schema);
		existing = {{query|tojson}};
		if (! $.isEmptyObject(existing)) {
			$('#existingQuery').append('<h3>You\'re editing an existing query, careful now.</h3><br\>');
			$('#existingQuery').append('<b>Query Name:</b> '+existing.name+'<br/>');
			$('#existingQuery').append('<b>Query Saved At:</b> '+existing['saved at']+'<br/>');			
			$('#existingQuery').append('<b>Query Description:</b> '+existing.description+'<br/>');
			$('#existingQuery').append('<b>Query Parameters:</b> '+existing['required parameters'].join()+'<br/>');
			editor.setValue(existing.query);
			$('#q_name').val(existing.name);
			$('#q_description').val(existing.description);
			$('#q_parameters').val(existing['required parameters'].join());
		};

		$('#test_query').on('click',function(){
			var query = editor.getValue();
			//test the query and put the result in the result div
			$.ajax({
			  type: "POST",
			  contentType: "application/json; charset=utf-8",
			  url: "/v3/test_query/",
			  data: JSON.stringify(query),
			  success: function (data) {
			  	insertRes(data.response,data.success);
			  },
			  error: function(data){
			  	insertRes(data,false);
			  },
			  dataType: "json"
			});
		});
		$('#saveModal').on('show.bs.modal', function() {
			var query = editor.getValue();
			prettyRes = syntaxHighlight(query, null, 2);
	  		$('#query_preview').empty().html(prettyRes);
		});
		$('#saveQuery').on('click',function() {
			var form = $('#saveForm')[0];
			var name = form[0].value;
			var desc = form[1].value;
			var params = form[2].value.split(',');
			var query = editor.getValue();
			if (name!='' && desc != '') {
				var data = {
					name:name,
					description:desc,
					parameters:params,
					query:query
				};
				$.ajax({
				  type: "POST",
				  contentType: "application/json; charset=utf-8",
				  url: "/v3/save_query/",
				  data: JSON.stringify(data),
				  success: function (data) {
				  	alert(data.response.message);
				  },
				  error: function(data){
				  	alert(data.response.message);
				  },
				  dataType: "json"
				});			
			}
			else{
				alert('You need to fill in the form!');
			}
			;

		})
	});
	

</script>
</body>
</html>