<html>
<head>
<title>
Donkey Query Documentation
</title>
	<script src="{{prefix}}/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	<link href="{{prefix}}/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<h1>Donkey Query Writing Documentation</h1>
	<p>A "query" is a JSON object which fully describes a web scraping request. There are several components, which will be explained here.</p>
	<h2>Basic Structure</h2>
	<p>There are several query components which are optional, and only one which is required. These will be introduced below, then explained in more details in the following sections</p>
	<p>This is the most basic structure of a Donkey query:</p>
	<pre>
{
	"request": {...},
	"handle": {...},
	"crawl": {...}
}</pre>
	<h4>Request</h4>
	<p>This tells Donkey how it should go about getting the data. i.e. how it makes requests.</p>
	<h4>Handle (Optional)</h4>
	<p>
		Tells Donkey what to do with the result. For example, if you are requesting a HTML resource, you might want to execute some XPath queries on the result.
	</p>
	<h4>
		Crawl (Optional)
	</h4>
	<p>
		Sometimes, you want to iterate through a set of pages, based on some rule. This section defines the rules to do so.
	</p>
<h2>Request</h2>
<p>This is the most important part of the query. It determines what data you want, and how Donkey should get it.</p>
<p>a request is fulfilled by a 'grabber', which is a function which takes a number of keyword arguments and returns data based on that. Documentation the various grabbers is available <a href="{{prefix}}/v3/grabber_docs">here</a></p>
<p>It has the following structure:</p>
<pre>
{
	"@grabber": "...",
	"@freshness": ...,
	&lt;other arguments&gt;
}
</pre>
<p>
	The "@grabber" key should contain a string corresponding to a grabber. If the specified grabber is not found, your request will fail. 
	If you omit the grabber key, the default grabber will be used. This is the request grabber, which executes a basic HTTP request.
</p>	
<p>
	The "@freshness" key contains an integer. This determines how 'fresh' in days, you need the data to be. For example, if you put "freshness": 5, then Donkey will check its internal cache, and if this same request has been made in the last 5 days, it will return that cached result, otherwise, it will fetch the data fresh.
	If you omit the freshness key, the default value of 30 will be used. If you put "freshness":0, the data will always be requested afresh (this is not usually neccesary)
</p>
<p>
	All of the other arguments here will be passed to the specific grabber, and form the request. For example, you may want to include some headers with your HTTP request.
</p>
<p>
	Below is an example of a simple Donkey request which only contains the request section:
</p>
<pre>
{
	"request":{
		"@grabber":"stackexchange",
		"@freshness": 1
		"route":"tags",
		"pagesize":100,
		"page":1,
		"min":100,	
	}
}
</pre>
<p>
	Here, the grabber is the stackexchange grabber, which wraps the stackexchange.com API. The 'route' argument tells Donkey what API route to request, and the rest are inserted as parameters to the request. Authentication and caching are all taken care of!
</p>

<h2>Handle (Optional)</h2>
This bit of the query allows you to do some querying/filtering of the requested data, so you only get back that which you really need. Documentation on what different handlers may be used can be found <a href="{{prefix}}/v3/docs/handler">here</a>
<p>
	It basically allows you to turn any external resource into a normalised JSON document. There is some basic functionality, and some more advanced functionality to help impose much needed order on external data.
</p>
<p>
	The most basic format for this section looks like this:
</p>
<pre>
{
	"@handler": "...",
	...
}
</pre>
Where the @handler key tells Donkey which handler to use. The rest of the keys will contain queries to execute on the document returned by the request section. The @handler key is an example of a special key with a special meaning. These are always preceded by a "@" symbol, and will be explained below.
<p>
	Below is a simple example of a request with some handling:
</p>
<pre>
{
	"request":{
		"url":"http://example.com"
	},
	"handle":{
		"@handler":"XPATH",
		"title":"//title//text()"
	}
}
</pre>
<b>What's going on here?</b>
<ul>
	<li>The request object is using the default grabber, to grab the classic example webpage.</li>
	<li>The chosen handler is the XPATH handler, so all the other values will be executed as XPath queries against the returned document</li>
	<li>The only value we are asking for, we have called "title", and will grab the text from the title element of the document</li>
</ul>
This is what Donkey will return from this query:
<pre>
{
	"title": ["Example Domain"]
}
</pre>
If you want a more complex structure returned, you can nest keys within other JSON objects, and Donkey will recurse through these. e.g. the query:
<pre>
{
	"request":{
		"url":"http://example.com"
	},
	"handle":{
		"headers":{
			"page title":"//title//text()",
			"meta tags":"//meta/@name"
		},
		"content":{
			"text":"//p/text()",
			"links":"//a/@href"
		}
		
	}
}	
</pre> 
Will return the following result:
<pre>
{	"headers": {
		"meta tags": ["viewport"],
		"page title": ["Example Domain"]
	},
	"content": {
		"links": ["http://www.iana.org/domains/example"],
		"text": ["This domain is established to be used for illustrative examples in documents. You may use this    domain in examples without prior coordination or 		asking for permission."]
	},
}
</pre>
Useful!
<br>
Donkey's handling engine has some other features which are covered in other pages:
<ul>
	<li><a href="{{prefix}}/v3/docs/subquery">Sub Queries</a> - Useful for imposing more yet more order on pages</li>
</ul>
Just one so far!!

</div>


</body>