
<html>
<head>
<title>
Donkey SubQuery Documentation
</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h3>Subqueries</h3>
<p>
	The internet is a disordered place, and sometime you need to put it into more ordered structures.
</p>
<p>
	Say you wanted to grab the text and locations of all the links in the first section of the sidebar of the <a href="http://lxml.de">lxml project</a> homepage.
	You could do this simply with the following query:
</p>
<pre>
{
	"request":{
		"url":"http://lxml.de"
	},
	"handle":{
            "link locations":"//ul[@id='index-menu']//a/@href",
            "link texts":"//ul[@id='index-menu']//a/text()",
	}
}
</pre>
<p>This would work, and return the stuff you want in two seperate arrays, which you could 'zip' together:</p>
<pre>
{
"link locations": [
	"index.html",
	"index.html#introduction",
	"index.html#support-the-project",
	"index.html#documentation",
	"index.html#download",
	"index.html#mailing-list",
	"index.html#bug-tracker",
	"index.html#license",
	"index.html#old-versions",
	"index.html#legal-notice-for-donations"
	], 
"link texts": [
	"lxml",
	"Introduction",
	"Support the project", 
	"Documentation", 
	"Download", 
	"Mailing list", 
	"Bug tracker", 
	"License", 
	"Old Versions", 
	"Legal Notice for Donations"
	]
}
</pre>
<p>
	But what if not all of the things you want to grab have all the properties you need? Say you wanted the popular repository names and descriptions from <a href="https://github.com/gregroberts">this handsome man</a>'s Github profile. We try to do the same thing:
</p>
<pre>
{
	"request":{
		"url":"https://github.com/gregroberts"
	},
	"handle":{
            "Repo Names":"//ul[contains(@class,'mini-repo-list')]//span[@class='repo']/@title",
            "Repo Descriptions":"//ul[contains(@class,'mini-repo-list')]//span[contains(@class,'repo-description')]/text()",
	}
}
</pre>
But alas, not all the repositories have a description!
<pre>
{
"Repo Names": [
	"classytest",
	"Dashboard",
	"Donkey",
	"GergWorks",
	"jmespath.py",
	"fnordmetric"
	],
"Repo Descriptions": [
	"Python Web Scraper",
	"JMESPath is a query language for JSON.",
	"FnordMetric allows you collect and visualize timeseries data with SQL."
	],
}
</pre>
<p>
	If you try to zip those two arrays together, you'll get descriptions attached to the wrong repo names! This is where Donkeys <b>subqueries</b> come to the rescue. We can use the special <b>@base</b> tag to represent a subquery. This is best explained by example, so let's solve the problem presented by the above result:
</p>
<pre>
{
	"request":{
		"url":"https://github.com/gregroberts"
	},
	"handle":{
            "Popular Repositories":{
                "@base":"//ul[contains(@class,'mini-repo-list')]/li",
                "Repo Name":".//span[@class='repo']/@title",
                "Repo Descriptions":".//span[contains(@class,'repo-description')]/text()",
	   }
	}
}
</pre>
<b>What's going on here?!</b>
<ul>
	<li>In the Popular Repositories key, Donkey sees the @base key, and realises we want a subquery</li>
	<li>Donkey will execute the @base query, which returns a list of elements</li>
	<li>The remaining keys will be executed for each element <b>with that element as the base</b> so the results will be consistent</li>
	<li>Note that the XPath queries here use the relative prefix "." so they are indeed executed relative to the current element</li>
	<li>The returned value of "Popular Repositories" will be an array, with a row for each value returned by the @base query</li>
</ul>
Here's what the response looks like:
<pre>
{
	"Popular Repositories": [
		{
			"Repo Name": ["classytest"],
			"Repo Descriptions": []
		}, 
		{
			"Repo Name": ["Dashboard"],
			"Repo Descriptions": []
		}, 
		{
			"Repo Name": ["Donkey"], 
			"Repo Descriptions": ["Python Web Scraper"]
		}, 
		{	
			"Repo Name": ["GergWorks"],
			"Repo Descriptions": []
		}, 
		{
			"Repo Name": ["jmespath.py"],
			"Repo Descriptions": ["JMESPath is a query language for JSON."]
		},
		{
			"Repo Name": ["fnordmetric"],
			"Repo Descriptions": ["FnordMetric allows you collect and visualize timeseries data with SQL."]
		}
	]
}	
</pre>
Order has been restored! We have each repository, it's name, and it's description if it exists, and these are all bundled together. Marvellous!
<h4>Notes</h4>
<p>
	It's possible to have subqueries within subqueries, Donkey will treat them just the same. 
</p>
<hr>
<p>
	Python has a maximum recursion depth of 1000, so technically, you can only have a depth of ~1000 nested subqueries; boo-hoo.
</p>
<hr>
<p>
	You don't have to declare keys to be subqueries, you can have the @base tag in the root of your query, like so:
<pre>
{
	"request":{
		"url":"https://github.com/gregroberts"
	},
	"handle":{
		"@base":"//ul[contains(@class,'mini-repo-list')]/li",
		"Repo Name":".//span[@class='repo']/@title",
		"Repo Descriptions":".//span[contains(@class,'repo-description')]/text()",
	}
}
</pre>
And the response will just be an array:
<pre>
[
	{
		"Repo Name": ["classytest"],
		"Repo Descriptions": []
	}, 
	{
		"Repo Name": ["Dashboard"],
		"Repo Descriptions": []
	}, 
	{
		"Repo Name": ["Donkey"], 
		"Repo Descriptions": ["Python Web Scraper"]
	}, 
	{	
		"Repo Name": ["GergWorks"],
		"Repo Descriptions": []
	}, 
	{
		"Repo Name": ["jmespath.py"],
		"Repo Descriptions": ["JMESPath is a query language for JSON."]
	},
	{
		"Repo Name": ["fnordmetric"],
		"Repo Descriptions": ["FnordMetric allows you collect and visualize timeseries data with SQL."]
	}
]	
</pre>
</p>
<hr>

</div>
</body>
</html>